<%= stylesheet_link_tag 'home' %>
<div class="wrapper">
    <div class="hero">
        <h1>tidbits</h1>
        <span class="tagline">a few bits of happiness</span>
        <span class="blurb">See how one small habit can impact your life for the better.</span>
        <%= link_to "register now", new_user_path, :class => "cta" %>
    </div>
</div>