<%= stylesheet_link_tag 'home' %>
<div class="wrapper">
    <div class="test">
        <h1>tidbits</h1>
        <span class="tagline">A few bits of happiness</span>
    </div>
    <div class="test2">
        sdfsdfsdfsd
    </div>
</div>