.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

    .error {
        color: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            margin: 0;
        }

        p {
            margin-bottom: 0;
        }

        p:last-child {
            margin-bottom: 24px;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;

        label {
            font-weight: bold;
        }

        input {
            height: 48px;
            width: 400px;
            font-size: 24px;
            padding: 12px;
            border-radius: 4px;
            border: none;
        }

        textarea {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            height: 80px;
            width: 400px;
            font-size: 24px;
            padding: 12px;
            border-radius: 4px;
            border: none;
            word-wrap: break-word;
            word-break: break-all;
            resize: none;
        }

        .btn {
            background-color: #1B0F29;
            color: #fff;
            font-weight: bold;
            font-size: 24px;
            height: 48px;
            width: 200px;
            border-radius: 4px;
            border: none;

            &:hover {
                background-color: #483078;
                cursor: pointer;
            }
        }
    }

    .bottomText {
        font-weight: bold;
        color: #fff;
        padding-top: 24px;
        
        > a {
            text-decoration: none;
            color: #906090;
            transition: border-bottom 150ms ease-in-out;
            border-bottom: 1px solid #fff0;

            &:hover { // hehehehehehe
                border-bottom: 1px solid #483078;
                color: #483078;
            }
        }
    }
}