.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

    .hero {
        background-color: #1B0F28;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        h1 {
            font-size: 124px;
            align-items: center;
            margin-bottom: 8px;
        }

        .tagline {
            text-transform: lowercase;
            font-size: 24px;
        }

        .cta {
            background-color: #280E43;
            font-size: 36px;
            font-weight: bold;
            text-decoration: none;
            padding: 12px 72px;
            margin: 24px 0;
            border-radius: 4px;

            &:hover {
                background-color: #483078;
            }
        }
    }
    
    .blurb {
        background-color: #280E43;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25vh;
        width: 100vw;
    }
}