.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;

    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20vw;
        padding: 72px 24px 0 24px;

        .crown {
            font-size: 32px;
            border-bottom: none;
            margin: 0;
            padding-bottom: 0;
            height: 32px;
        }

        .avatar {
            background-color: #DFCDC9;
            color: #483078;
            font-size: 128px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            width: 200px;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: auto;
                height: 100%;
            }
        }

        h1 {
            font-size: 32px;
            margin: 12px 0;
        }

        p {
            text-align: center;
            color: #DFCDC9;
            margin: 0 0 8px 0;
            padding-bottom: 12px;
            border-bottom: 1px solid #483078;
            width: 50%;
        }

        .followBtn {
            background-color: #1B0F28;
            color: #fff;
            font-weight: bold;
            font-size: 12px;
            padding: 12px;
            border-radius: 4px;
            border: none;
            margin: 12px 0;
            cursor: pointer;

            &:hover {
                background-color: #483078;
            }
        }
    }

    .entries {
        color: #1B0F28;
        width: 40vw;

        h2 {
            color: #fff;
        }

        .noTidbits {
            color: #DFCDC9;
        }

        .entry {
            background-color: #DFCDC9;
            padding: 24px;
            margin: 24px 0;
            font-size: 16px;
            border-radius: 4px;

            h2, h3 {
                margin: 0;
                text-transform: lowercase;
            }

            h3 {
                font-size: 18px;
            }

            a {
                color: #1B0F28;
                text-decoration: none;  
                
                &:hover {
                    color: #483078;
                }

                &.hearts {
                    font-size: 12px;
                }
            }

            ul {
                padding-left: 24px;
            }

            li {
                padding-bottom: 12px;
            }
        }
    }
}